@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.content_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.main {
  background-color: #ffefef;
  width: 100%;
  height: 100dvh;
}

.member {
  background-color: #f3d0d7;
  width: 100%;
  height: 100dvh;
}

.cheerMsg {
  width: 100%;
  height: 100dvh;
}

/* 태윤님 login CSS ↓ */

/* 초원님 main CSS ↓ */

/* 기준님 member CSS ↓ */

/* 남송님 cheerMsg CSS ↓ */
.cheerMsg >.msg{
  font-size: 32px;
  font-weight: bold;
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 90px;
}

.cheerMsgWrapper {
  margin: 10px 10%;
  height: 100px;
  background-color: #CDE5C4;
  display: flex; 
  align-items: center;
  border-radius: 10px;
}

.cheerMsgWrapper > img{
  width: 50px;
  margin-right: 10px;
}

.cheerMsgWrapper > .author{
  color: #808080;
  font-size: 20px;
  font-weight: bold;
  width: 10%;
  margin-right: 10px;
}

.cheerMsgWrapper > p{
  font-size: 35px;
  text-align: center;
  width: 70%;
  margin-right: 3%;
}

.cheerMsgWrapper > span{
  color: #808080;;
  font-size: 16px;
  font-weight: lighter;
  width: 50px;
}

.cheerMsg > button {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #38B30D;
  color: white;
  margin-top: 80px;
  padding: 10px 30px;
  border: 0px;
  border-radius: 20px;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  text-align: center;
}